@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**

//Custom Theme Colors for Frontage
/**
  Primary color: Dark Cerulean: #00467F
  Secondary color: Verdigris: #3DAEB6
  Warn Color: Vivid Red-Tangelo #D56126
  Other Colors: 
    Light Sea Green: #23B1A5
    Yellow Green: #8EB530
    Pastel Brown: #7D6A55
    Grullo: #A2968A
**/

$scam-blue: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$scam-grey: (
    50 : #e7e8e8,
    100 : #c3c5c5,
    200 : #9b9e9f,
    300 : #737778,
    400 : #555a5b,
    500 : #373d3e,
    600 : #313738,
    700 : #2a2f30,
    800 : #232728,
    900 : #161a1b,
    A100 : #6ad4f8,
    A200 : #39c6f6,
    A400 : #00bdfc,
    A700 : #00aae2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



$scam-red: (
    50 : #ede0e0,
    100 : #d1b3b3,
    200 : #b38080,
    300 : #944d4d,
    400 : #7d2626,
    500 : #660000,
    600 : #5e0000,
    700 : #530000,
    800 : #490000,
    900 : #380000,
    A100 : #ff6e6e,
    A200 : #ff3b3b,
    A400 : #ff0808,
    A700 : #ee0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the default theme
$app-primary:   mat-palette($scam-grey);
$app-accent:  mat-palette($scam-blue);
$app-warn: mat-palette($scam-red);
$portal-app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

// Include the default theme styles.
@include angular-material-theme($portal-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}