<div class="container">
  <div class="row">
    <div class="col">
      <ng-template [ngIf]="alertMessage">
        <alert [type]="alertType">{{ alertMessage }}</alert>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col">
          <button mat-raised-button color="warn" (click)="updateTables()">Update Table</button>
        </div>
        <div class="col">
          <button mat-raised-button color="accent" (click)="onClickCreate()">Create User</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" (click)="getButton()">get User</button>
        </div>
        <div class="col">
          <button mat-raised-button color="warn" (click)="updateFirst()">update First</button>
        </div>
      </div>
      <div class="row">
        <ng-template [ngIf]="loginMessage">
          <alert [type]="loginType">{{ loginMessage }}</alert>
        </ng-template>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <input matInput #userForm placeholder="Enter your username">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <input matInput #passForm placeholder="Enter your password" [type]="hide ? 'password' : 'text'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <button mat-raised-button color="accent" (click)="testLogin(userForm.value, passForm.value)">Test Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label='Active Users'>
          <ngx-datatable class="bootstrap" 
          [rows]="activeRows" 
          [columns]="activeColumns" 
          [columnMode]="'force'"
          [externalPaging]="page.externalPaging"
          [count]="page.count"
          [offset]="page.offset"
          [limit]="page.limit"
          (page)='setPage($event)'
          >
          </ngx-datatable>
        </mat-tab>
        <mat-tab label="Inactive Users">
          <ngx-datatable class="bootstrap" [rows]="inactiveRows" [columns]="inactiveColumns" [columnMode]="'force'">
          </ngx-datatable>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>